@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

/* Globals */

:root {
    --left-padding: 30px;
    --right-padding: 30px;
}

body {
    background-color: white;
    padding: 0;
    width: 960px;
    margin: auto;
    font-family: 'EB Garamond', serif;
    font-size: 16pt;
}

/* Header */

div#header {
    padding: 0;
    margin: 0;
}

div#ribbon {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    /* border-bottom: 1px solid black; */
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 28pt;
    text-align: center;
}

div#menu {
    /* background-color: rgb(192, 192, 192, .2); */
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    column-gap: 7px;
 
    /* border-top: 1px dashed black;
    border-bottom: 1px dashed black; */
}

div.menu-element {
    padding: 5px;
    display: inline-block;
    background-color: white;
    /* border: 1px dotted grey; */
    text-decoration: underline;
    font-weight: 500;
}

div.menu-element:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}

/* Main */

div#main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Text */

p {
    line-height: 24pt;
    text-align: justify;
    text-indent: 1em;
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.textit {
    font-style: italic;
}

.textbf {
    font-weight: bold;
}

div.footnote {
    text-align: justify;
    font-size: 14pt;
}

/* Tables */

/* Misc */

div#landing-footer {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    padding-left: 25px; 
    padding-right: 25px; 
    background-color: lightyellow; 
    opacity: 70%; 
    border-radius: 1px;
    font-size: 10pt;
}